.sg-image {
    background: #ffffff;
    float:left;
    width: 100%;
}
.sg-images {
  max-height: 640px;
  width: 100%;
  background: #656161;
  position:relative;
  float: left;
}
.sg-inner-images {
      overflow: auto;
      position: relative;
      max-height: 300px;
      min-height: 483px;
      float: left;
      width: 100%;
      padding: 20px;
}
.sg-inner-images::-webkit-scrollbar { width:9px; background-color: #f9f9f9;  } /* configurando scroll */
.sg-inner-images::-webkit-scrollbar-track { background: rgba(0,0,0,1);}
.sg-inner-images::-webkit-scrollbar-thumb {background:#029bde; border-radius:20px; }
.sg-image .sg-image-inner {
    padding: 0 30px !important;
    position: relative;
}
.sg-img-empty {
  color:#fff;;
}
.sg-images .sg-images-inner img {
    max-width: 100%;
    border-radius: 4px;
    }
.sg-images img.sg-wait {
    border:none !important;
}
.sg-images li.ui-selected .sg-images-inner img {} 
.sg-image *, .sg-image *:before, .sg-image *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sgButtonsLeft {
  float:left;
  width: 80%;
}
.sg-imgsearch {
  float:left;
  max-width: 300px;
  margin-left:10px;
  position:relative;
}
.sg-imgsearch:before {
  content:"\f2eb";
  font-family: "LineAwesome";
  position: absolute;
  right: 0;
  top:0;
  line-height: 26px;
  margin-right:5px;
  font-size: 16px;
  font-weight: 600;
  color:#7c8d94
}
.sg-imgsearch input {
  width: 100% !important;
  background:#ffffff !important;
  border:1px solid #48819a !important;
}
.imgCount {
  float:left;
  padding:5px;
  color:#fff;
  font-weight:600
}
.btnUpH {
  background:#086f9c;
  color:#fff;
  font-weight:600;
  padding:5px 20px;
  border-radius:6px;
  margin:0;
  float: left;
}
.btnUpH i {
  margin-right:5px;
  font-weight:800
}
.sg-images li {
   display: inline-table;
   float:left;
   width: 20%;
   padding: 6px;
   text-align: center;
   cursor: pointer;
   visibility: visible;
   will-change: transform;
   opacity: 1;
   transform: translate(0, 0px) scale(0);
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   transition-property: transform, opacity;
}
.sg-images ul {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
}
.sg-images li .sg-images-inner {
   display:inline-block;
   /* padding:10px; */
   margin:4px;
   /* background:#fff; */
   box-shadow: 0 0 1px #00000075;
   border-radius: 4px;
   position: relative;
   box-shadow: 0 0 5px #000;
}

/*****
*Header
******/
.sg-image .sg-image-header {
    background: #029bde;
    width: 100%;
    display:table;
    float:left;
    padding: 10px;
    margin-bottom: 26px;
}

.sg-image .sgButtons.sgButtonsRight {
    float:right;
    display:table;
}
.sg-image .sgButtons .sgBtn:before {
    font-family:"LineAwesome";
    float:left;
    font-size:20px;
    margin-right:5px;
}
.sg-image .sgButtons .sgBtn {
    display:table;
    float:left;
    padding: 5px 10px;
    cursor:pointer;
    border-radius: 4px;
    margin: 0 5px ;
}
.sg-image .sgDelete {
    background:#cc3842;
    color:#fff;
}
.sg-image .sgEdit:before{
    content:"\f1c1";
}
.sg-image .sgEdit {
    background:#61737b;
    color:#fff;
}
.sg-image .sgDelete:before {
    content: "\f28f";
    color:#fff;
}
/*****
*Selected
******/
.sg-images li.ui-selected .sg-images-inner {
    box-shadow: 0 0 0px 3px #007bf2;
}
.sg-images li .sg-images-inner .selectImage {
    display:none
}
.sg-images li.ui-selected .sg-images-inner .selectImage {
    position:absolute;
    font-family:"LineAwesome";
    bottom: 0;
    right: 0;
    font-size: 2em;
    color: #ffffff;
    width: 40px;
    height: 40px;
    background: #007bf2;
    line-height: 40px;
    border-radius: 4px 0px 0px 0px;
    display:block;
    z-index: 2;
}
.sg-images li.ui-selected .sg-images-inner .selectImage:before {
   content:"\f17d"; 
}

.sg-images li.ui-selected .sg-images-inner .selectImage:hover {
    background:#007bf291
}

.sg-images li.ui-selected .sg-images-inner .selectImage:hover:before {
    content:"\f18b"
}

/******
*Sort Image
*******/
.sg-images .sortImage {
    float:left;
    margin: 0px 16px;
    line-height:32px;
    width: 30px;
    height: 30px;
    color:#fff;
    cursor: move;
    background:#00000073;
    border-radius:40px;
}

/******
*Bt Upload
******/

.sg-images .sgUpImage p {
    position:absolute;
    bottom: 0;
    margin-bottom: 10%;
    padding: 20px;
    left: 0;
    text-align:center;
    color: #fff;
    line-height: 1.2em;
    font-size: 13px;
    margin: 0 auto !important;
    z-index: 1;
}
.sg-images .sgUpImage {
    position:relative;
    display:  inline-block;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    max-width: 100%;
}
.sg-images .sgUpImage label img {
    border-radius: 6px;
    width: 460px;
    height: 320p;
    border:none;
}
.sg-images .sgUpImage .sg-images-inner {
    min-height: 430px;
    border: 4px dashed;
    border-radius: 6px;
    border-color: #b1b1b1;
}
.sg-images .sgUpImage .sg-images-inner:hover i {
    opacity:0.8;
    color:#bdd4de
}
.sg-images .sgUpImage label {
 color:#efefef;
 top: 50%;
 position: absolute;
 left: 50%;
 transform: translate(-50%, -50%);


}
.sg-images .sgUpImage label span {
  display:table;
  padding:10px;
  font-weight: 100;
  font-size: 14px;
  text-align:center;
  margin: 0 auto
}
.sg-images .sgUpImage label i {
  font-size: 4rem;
  margin: 0 auto;
  clear:both;
  width: 100%;
  text-align:center;
   transition: ease-in 0.5s
}
.sg-images .sgUpImage .sg-images-inner {
    margin-top: 5px;
    border-radius: 6px;
    margin: 0 auto;
}
.sg-images .sgUpImage .sgBtnUpload {
    position:absolute;
    bottom:0;
    top:0;
    right:0;
    left:0;
    height: 100%;
    opacity: 0;
    padding: 0;
    margin: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    width: 100%;
}
.sg-images .sgUp {
    position: relative;
    overflow: hidden;
}

/***************
*Progress Bar
****************/
.sg-image .sgProgress{
    position:relative;
    background:#484646;
    border-radius:4px;
}

.sg-image .barpad {
  padding:10px;
  position:absolute;
  height:18px;
   margin-top: -9px;
   border-radius:4px;
   top:50%;
   width:100%;
}
.sg-image .barinner img {
  border:none;
  box-shadow:none;
}
.sg-image .barinner {
  position:relative;
}
.sg-images .sgProgress .bar {
   background: #292929;
   border-radius: 6px;
   line-height: 12px;
   padding: 3px 0;
   font-size: 12px;
   font-weight: 600;
  
   width:0;
   height: 20px;
}
.sg-images .loadt {
  position:absolute;
  top:0;
  left:0;
  right:0;
  margin: auto;
  color: #cecece;
  line-height: 20px;
}
.sg-image .sgProgress .barload {
  background:rgba(49, 49, 49, 0.29);
  box-shadow: 0  0 0 1px  rgba(255, 255, 255, 0.23);
  border-radius:4px;
  position:absolute;
  top:0;
  bottom:0;
  right:10px;
  left:10px;
 
 
 
}
.sg-images .sg-img-top {
    width:100%;
    top: 16px;
    left:0;
    position:absolute;
    opacity:0;
    visibility: hidden;
    transition: ease-in 0.3s;
}
.sg-images li:hover .sg-img-top {
    opacity:1;
    visibility: visible;
}
.sg-images .sg-img-top .upImage {
    float:right;
    margin-right: 16px;
    cursor: pointer;
    background:#0000006b;
    text-align:center;
    width: 30px;
    height: 30px;
    border-radius:60px;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
}
.sg-images .sg-img-top .upImage:before {
    content:"\f1c1";
    font-family: "LineAwesome";
    color: #ffffff;
    font-size:16px;
    line-height: 30px;
    -webkit-transition: 0.3s;
}

.sg-images .sg-img-top .upImage:hover {
    background:#2a7094
}
/***************
*Progress Bar
****************/
#sg-upImage .sg-upImage-header {
    border-bottom: 1px solid #e4e4e4;
    display:inline-block;
    width: 100%;
    padding:10px 0;
}
#sg-upImage .sg-upImage-header h3 {
    color: #284e64;
    font-weight: 100;
    float:left;
    margin:0;
}
#sg-upImage .sg-upImage-header .upClose {
    float:right;
    cursor:pointer
}
#sg-upImage .sg-upImage-header .upClose:before {
    content:"\f191";
    font-size: 30px;
    font-weight: 100;
    color: #7d7d7d;
    font-family:"LineAwesome";
}
.sg-upImage-form *, .sg-upImage-form *:before, .sg-upImage-form *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#sg-upImage {
    position:absolute;
    z-index:10999;
    right:0;
}
#sg-upImage form {
    max-width: 300px;
    width: 100%;
    background:#fff;
    position:fixed;
    z-index:11000;
    right: 0;
    top: 0;
    bottom: 0;
    margin-bottom: 0;
    padding: 10px 20px;
    overflow-y: auto;
}
#sg-upImage form input {
    border: 1px solid #ccc;
}
#sg-upImage form input[type=text] {
    height: 26px;
    width: 100%;
    padding: 10px;
}
#sg-upImage form textarea {
    padding: 10px
}
#sg-upImage .form-check {
    width: 100%;
    height:  25px;
    line-height: 25px;
}
#sg-upImage .form-check input {
    display:none;
}
#sg-upImage .form-check .sg-check  + label .s-checked:after {
    display:none;
}
#sg-upImage .form-check .sg-check:checked  + label .s-checked:after {
    display:block;
}
#sg-upImage .form-check label {
    padding-left: 30px;
    line-height: 16px;
    cursor: pointer;
}
#sg-upImage .form-check .sg-check:checked  + label .s-checked {
    background: #007bf2;
    border: none;
}
#sg-upImage .form-check .s-checked {
    position:  absolute;
    background: #ccc;
    border: 1px solid #aaa;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    left:0;
    }
#sg-upImage .form-check .s-checked:after {
    content:"";
    left: 5px;
    top: 1px;
    width: 7px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
}
#sg-upImage form .form-group {
    margin-bottom: 10px;
}
#sg-upImage form textarea {
    width: 100%;
    height: 40px;
}
#sg-upImage .sg-upImage-img {
    text-align:center;
    margin-bottom:20px;
    height: 110px;
    display: table;
    width: 110px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    border: 3px solid #1565b7;
}
#sg-upImage .sg-upImage-form label {
    color: #294f65;
    position: relative;
    font-size: 13px;
}
#sg-upImage .sg-upImage-img img {
    margin: 0 auto;
    vertical-align: middle;
    display:  inherit;
    position: absolute;
    top: 0;
    left: 50%;
    width: 160px;
    height: auto;
    max-width: inherit;
    margin-left: -80px;
}
#sg-upImage .sg-img-h {
    height: 100%;
    vertical-align:middle;
    display:inline-block
}

.sg-upImage-overlay {
    background:#000000d1;
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:fixed;
    z-index:9999;
}
.sg-upImage-overlay.animated {
     -webkit-animation-duration: 0.2s;
     animation-duration: 0.2s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
}

/************
*Cover
************/
.sg-images .sg-attributes {
    width: 100%;
    position:absolute;
    left:0;
    bottom: 0;
    padding:5px;
    z-index: 1
}
.sg-images .sg-attributes span {
    float:left;
}
.sg-images .sg-attributes span i:before {
    color:#fff !important;
    font-size: 1.1rem;
    border-radius: 12px 2px;
    padding: 3px;
    margin-right: 4px;
    font-weight: 100;
}
.sg-images .sg-image-cover i:before {background: #007bf2c7;}
.sg-images .sg-image-access i:before {background: #ce413ec7;}
sg-images .sg-image-cover {
    font-size: 1.1rem;
    position:absolute;
    z-index:1;
    bottom: 0;
    left:0;
    margin: 10px 0 10px 16px;
    padding: 5px;
    color:white;
    border-radius: 12px 2px;
    background: #007bf2;
}

/*************
 No Id
**************/
.sg-images .sg-noid {
    text-align:center;
    border-radius: 6px;
    padding: 20px 10px;
}

.sg-images .sg-noid i:before {
    font-size: 6rem;
    float:left;
}
.sg-images .sg-noid i {
    color:#61727a;
   
}
.sg-images .sg-noid p {
    color:#cc3942;
    clear:both;
    position: inherit;
    padding: 0;
    font-size: 1rem;
    font-weight: 400
}
.sg-images .ui-sortable-placeholder {
  position:relative;
  visibility:visible !important;
  transform: translate(0, 0px) scale(1);
}
.sg-images .ui-sortable-placeholder:before {
    content:"";
    background:#697e88;
    position:absolute;
    height:90%;
    width:98%;
    margin-top:2%;
    left:0;
    right:0;
    bottom:0;
    top:0;
    margin-left:1%;
    border-radius:4px;
    border: 2px dotted #c3c3c3
}
.sg-images .ui-sortable-helper {
  opacity: 0.7
}
.sg-load {
    background:rgba(28, 122, 162, 0.52);
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:99;
}
 .loader {
  position: absolute;
  margin: 0 auto;
  width: 60px;
  z-index:99;
  left:50%;
  top:50%;
  margin-top:-30px;
  margin-left:-30px
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #ffffff;
  }
  40% {
    stroke: #ffffff;
  }
  66% {
    stroke: #ffffff;
  }
  80%,
  90% {
    stroke: #ffffff;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #ffffff;
  }
  40% {
    stroke: #ffffff;
  }
  66% {
    stroke: #ffffff;
  }
  80%,
  90% {
    stroke: #ffffff;
  }
}
@media screen and (max-width: 1200px){
    .sg-images li {
        width: 25%
    }
    .sg-images .sgUpImage {
    }
    
}
@media screen and (max-width: 768px){
    .sg-images li {
        width: 33.33%
    }
    .sg-images .sgUpImage {
        max-width: 33.33% !important;
    }
    .sg-images li.ui-selected .sg-images-inner .selectImage {
        font-size: 1.5em;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    
}

@media screen and (max-width: 576px){
    .sg-images li {
        width: 50%
    }
    .sg-images .sgUpImage {
        max-width: 50% !important;
    }
    .sg-images .sgUpImage img {
        padding-bottom: 4px !important
    }
}
