/***********
* Btn Load More
************/

#sg-loadMore{
    text-align:center;
    margin-top: 30px;
    padding: 10px 0;
}
#sg-loadMore .sg-loadClick {
    margin: 0 auto;
}
.mfp-title {
    font-size: 1.3em;
    line-height:inherit;
    font-weight: 400;
}
.mfp-arrow {
    margin-top: 46px !important
}
.image-source-link {
    color:#45a2fd;
    font-size: 1.4em;
    font-weight: 100;
}
.image-source-link:hover {
    color:#03A9F4
}
.mfp-counter {margin-top: 20px;margin-right: 30px;}
.mfp-counter:before {
    content:"\f162";
    font-family:"LineAwesome";
    float:right;
    margin-left:5px;
    font-size: 20px
}
#sg-loadMore span.sg-loadMore:before {
    content:"\f2c2";
    font-family:"LineAwesome";
    margin-right:10px;
}
#sg-loadMore span.sg-loadMore {
    padding: 10px 20px;
    font-size: 1.2em;
    text-transform: capitalize;
}

.justified-gallery > .spinner {
    display: non;
}

button.mfp-close {
    margin-top: 10px;
    right: 0 !important;
    font-size: 3.5em !important;
    margin-right: 0.5em;
    outline: none !important;
}
button.mfp-close:before {
    font-family: "LineAwesome";
    border:none
}

.mfp-arrow-left:after, .mfp-arrow-right:after {
    display:none !important
}
.mfp-arrow-left, .mfp-arrow-right {
    outline: none !important
}
button.mfp-arrow {
    top: 50%;
    margin-top: -55px !important
}
.mfp-arrow:before, .mfp-arrow:after {
   
}

.mfp-arrow-left:before, .mfp-arrow-right:before {
    font-size: 7.5em;
    border:none !important;
    margin-left: -15px !important;
    Text-Shadow: #000 1px 0 0,#000 1px 1px 0,#000 1px -1px 0,#000 -1px 1px 0,#000 -1px 0 0,#000 -1px -1px 0,#000 0 1px 0,#000 0 -1px 0;
    font-family: LineAwesome;
    font-style: normal;
    font-weight: 100;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    color:#fff;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    opacity: 1;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
}
.mfp-arrow-left:before {
   left: 0 !important;
   margin-left: 4px !important;
}
.mfp-arrow-left:before {
    content:"\f111" !important;
}
.mfp-arrow-right:before {
    content:"\f112" !important;
}
.mfp-container {
    padding: 0 !important;
}
.mfp-bg {
    background:transparent !important;
}
.mfp-content {
    width: 100%;
    height: 100%;
    background: #000000e0;
}
.mfp-figure:after {
    display:none !important}
img.mfp-img {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto !important;
}
.mfp-bottom-bar {
    padding: 0 30px;
    bottom: 20px !important;
    padding-top:20px;
    border-top:1px solid #353535;
    top: inherit !important;
}
.sg-err {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding:10px;
    font-weight: 400
}
.sg-err:before {
    content:"\f207";
    font-family:"LineAwesome";
    font-size: 2.8rem;
    float:left;
    margin-right: 4px;
}
#s7dGalleryList .sg-items .sg-items-img-inner{
    overflow:hidden !important;
    float: left;
}
#s7dGalleryList .sg-items img {
     width: 100%;
     -moz-transition: all 0.3s;
     -webkit-transition: all 0.3s;
     transition: all 0.3s;
     background: #ccc;
}
#s7dGalleryList .sg-items .sg-listInfo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        float: left;
        margin-top: 10px;
}
#s7dGalleryList .sg-items .sg-listInfo a {
    width: 100%
}
#s7dGalleryList .sg-items {
    margin-bottom: 20px;
    background:  r;
}
#s7dGalleryList .sg-items:hover img {
     -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    
}

.s7dSlider .sgCitem {
    background-size: cover !important;
    background-position:center center !important;

}
.s7dSlider .sgCitem  h3 {
    position:absolute;
    bottom: -10px;
    padding: 30px 30px 60px;
    background:rgb(0 0 0 / 68%);
    width: 100%;
    color:#fff;
}
.s7dSlider {
    position:relative;
    display: flex !important;
    justify-items:center;
    align-items: center;
}
.s7dSlider .owl-nav {
    position:absolute;
    z-index:9999;
    width: 100%;
    margin: 0 !important;
}
.s7dSlider .owl-prev {
    float:left
}
.s7dSlider .owl-prev span, .s7dSlider .owl-next span {
    display: inline-table;
    margin: 0 5px;
    } 
.s7dSlider .owl-prev, .s7dSlider .owl-next {
    background: rgb(51 51 51 / 72%) !important;
    height: 80px;
    color:#fff !important;
    font-size: 60px !important;
    display:flex !important;
    justify-items:center;
    align-items:center;
    margin: 0 !important;
    outline: none;
}
.s7dSlider .owl-next {
    float:right;
}
.s7dSlider .owl-dots {
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
}



/*Footer*/
.sg-galListFooter .sg-pageCount {
    float:right;
}

#s7dGalleryList .sg-items .sg-listInfo.sg-listItems {
    padding-left: 20px;
    margin-top: 0;
}
#s7dGalleryList .sg-items .sg-listInfo.sg-listItems .sg-title-header {
    margin-top: 0
}
@media screen and (max-width: 992px){
    button.mfp-close {
        font-size: 2.5em
    }
    #s7dGalleryList .sg-items .sg-listInfo.sg-listItems {
        padding-left: 0;
        width: 100% !important;
        margin-top: 20px;
    }
    #s7dGalleryList .sg-items .sg-items-img-inner.sg-listItems {
        width: 100% !important;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
    button.mfp-close {
        background:#0000008a !important;
        border-radius: 60px;
        font-size: 2em;
        width: 40px !important;
        height:40px !important;
        line-height: 1px !important
    }
}