.icon-48-galerias {
      background-image: url(../images/l_galerias.png);
      padding-left:60px!important;
}

.icon-48-galeria {
      background-image: url(../images/l_galerias.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}