a {
  color: #a50021;
}
a:hover {
  color: #e61c19;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #a50021;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  background: #a50021;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #a50021;
}
#offcanvas-toggler >i {
  color: #000000;
}
#offcanvas-toggler >i:hover {
  color: #a50021;
}
.btn-primary,
.sppb-btn-primary {
  border-color: #e82e2b;
  background-color: #a50021;
}
.btn-primary:hover,
.sppb-btn-primary:hover {
  border-color: #cf1917;
  background-color: #e61c19;
}
ul.social-icons >li a:hover {
  color: #a50021;
}
.sp-page-title {
  background: #d4d4d4;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #000000;
}
.sp-module ul >li >a:hover {
  color: #a50021;
}
.sp-module .latestnews >div >a {
  color: #000000;
}
.sp-module .latestnews >div >a:hover {
  color: #a50021;
}
.sp-module .tagscloud .tag-name:hover {
  background: #a50021;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #a50021;
}
.search .btn-toolbar button {
  background: #a50021;
}
.post-format {
  background: #a50021;
}
.voting-symbol span.star.active:before {
  color: #a50021;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #e61c19;
}
.entry-link,
.entry-quote {
  background: #a50021;
}
blockquote {
  border-color: #a50021;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #a50021;
}
#sp-footer {
  background: #a50021;
}
.sp-comingsoon body {
  background-color: #a50021;
}
.pagination>li>a,
.pagination>li>span {
  color: #000000;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #000000;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #a50021;
  background-color: #a50021;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #a50021;
  background-color: #a50021;
}

/*Menu*/
.sp-megamenu-parent >li >a {font-weight:400}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-items {border:1px solid #eee}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-items:after {content:''; border-width: 0 16px 16px 16px; position:absolute; top:0; margin-top:-15px; margin-left:5px; width:0; height:0;  border-style:solid; border-color: transparent transparent #fff  transparent;  }
.sp-megamenu-parent .sp-dropdown .sp-dropdown-items:before {content:''; border-width: 0 17px 17px 17px; position:absolute; top:0; margin-top:-16px; margin-left:4px; width:0; height:0;  border-style:solid; border-color: transparent transparent #eee  transparent;  }
.sp-megamenu-parent >li:before {content:"-"; font-weight:600}
.sp-megamenu-parent >li:first-child:before {display:none}

.sp-dropdown-sub .sp-dropdown-items:after, .sp-dropdown-sub .sp-dropdown-items:before {display:none}

.offcanvas-menu {background:rgb(132, 0, 26)}
.close-offcanvas {border:none;}
.close-offcanvas:hover {color:rgba(255, 255, 255, 0.65)}


/*Banner Principal*/
.bfull {background: #E9E9E9}

/*Newsleter*/
.dnews input {margin:0 auto; max-width:660px !important; width:100%; height:40px; margin-top:20px; text-align:center; border-radius:0; border:none; box-shadow:-8px 10px 10px rgba(0, 0, 0, 0.38)}
.sfooter .sppb-addon-content {font-size:18px}

/*Parceiros*/
.mparceiros h3 {text-align:center}

.sredes {text-align:center}
.sredes i {margin-right:10px; font-size:30px}
.sredes a {font-size:26px; margin:10px; max-width:200px; width:100%;  padding:10px; background:#eee; display:inline-table; font-weight:400   }
.slin {color:#0576b9}
.sfac {color:#3c5b9a}
.stwi {color:#33ccff}

.sredes h4 {font-weight:100; font-size:22px}

/*Fale Conosco*/
.datendimento i {color:#dd0808; margin-right: 6px; font-size:18px}
.dcontato .sppb-btn {background:#a50021}
.dcontato .sppb-btn:hover {background:#d01b3f}

/*Header Paginas*/
.deheader {border-left:none; border-right:none;}
.deheader h2 {font-weight:100; }

/*Pag Credito*/
.rcred {background: #f1f1f1 !important;height:400px;padding:20px 30px 20px 30px;margin-bottom:20px;border: 1px solid #dadada;}
.rcredl {margin-right:20px}
.rcredr {margin-left:20px}
.rcredc {float:none;margin: auto;margin-bottom: 20px;}
.pcredittop {margin: auto; display:table; padding:30px 0}

/*Pag Seguros*/
.pagseguros h2 {background:#efefef; padding:20px 0 !important; display:block; color:#666; font-weight:100; border-bottom:1px solid #ccc}
.pagseguros .sppb-col-md-6 {padding:0; }
.pagseguros .sppb-column {padding:0; border:1px solid #ccc; border-bottom:none; height: 500px; }
.pagseguros .sppb-addon-content strong {color:#c34c4c;}
.pagseguros .sppb-addon-content {padding: 0 30px 30px 40px}
.pagseguros .pagcrowr {border-left:none}
.pagseguros .pagcrowff {border-bottom:1px solid #ccc}
.pagseguros .pagcrowrf {border-bottom:1px solid #ccc}
.gimageh1 figure {max-width:100%; min-width:100%; max-height:100%}
.gimageh1 h2{font-family: 'open sans', Arial, sans-serif; text-transform: initial; font-size:36px}
.gimageh1 a {margin:5px;}
.gimageh1 a:first-child {background:#ab2c2c;border-radius:4px;padding: 8px 10px;color:#fff;font-weight:400;}
.gimageh1 a:last-child {background:#999; border-radius:4px; padding:4px 10px; color:#fff; font-weight:400}

.dbtncurse {cursor:pointer;}

.btndinsc.dbtncurse.inscreva-se {
  background: #ED1C24;
  border-radius: 15px;
  font-size: 22px;
  font-weight: 400;
  max-width: 500px;
  padding: 15px;
  width: 100%;
 }

/*Pag Cadastro*/
#jform_prefixo, #jform_telefone {}
#jform_prefixo {width: 43px;margin-right:10px;float:left;}

@media screen and (max-width: 990px){
  .sredes a {width:96%; max-width:none}
  .imgcontato {text-align:center; margin-bottom:20px}
  .rcredl {margin-right:0}
  .rcredr {margin-left:0}
  .pagseguros .sppb-column {height: auto }
  .pagseguros .sppb-col-md-6 {padding-left:15px; padding-right:15px}
  .pagseguros .pagcrowr {border-left:1px solid #ccc; }
  .pagseguros .pagcrowff {border-bottom:none;}
  .pagseguros .pagcrowrf {border-bottom:1px solid #ccc !important}
 
}

@media screen and (max-width: 560px){
  .gimageh1 .desctrein {display:none}
}
@media screen and (max-width: 420px){
  .gimageh1 h2 {font-size:26px !important; margin-bottom:0px !important; margin-top:20px !important}
  .gimageh1 a {padding:4px !important; font-size:10px; float:left; clear:both; width:100%}
}