/*

 * Wk Contact

 * jcarloswk@gmail.com

 *

*/



.form-control {width:100% !important;}
.wkcontact-form input[type=file] {border:none; padding: 0}

.wkcontactbg {background:rgba(0,0,0,0.7);position:fixed;left:0;width:100%;height:100%;top:0;z-index:99998}

.wkcontact {position:fixed;left:0;width:100%;height:100%;top:0;z-index:99999;overflow-y: auto;}

.wkcontact .wkcontactinner {width:100%; padding:20px; position:absolute;}

.wkcontact .wkcontactcontent .wk-container img {position:absolute; top:50%; margin-top:-68px; left:50%; margin-left:-68px;}

.wkcontact .wkcontactcontent {background: #fff;border-radius:6px;box-shadow:0 0 4px #000;max-width:600px;width: 100%;min-height:200px;display: table;margin:0 auto;padding: 20px;position:relative;z-index: 99999;}

.wkcontact .wkcontactcontent .wkclose {background:black; border:2px solid #4c4c4c;  cursor:pointer; color:#ffeded; position:absolute; right:0; top:0; width:30px; height:30px; border-radius:60px; text-align:center; line-height:25px; margin-right:-10px; margin-top:-10px}

.wkcontact .wkclose img {width: 12px;margin:0 auto;margin-top: 7px;}

.wkcontact .g-recaptcha {margin: 5px 0;}

.wkcontact-form .wk-submit-button .btn-primary {margin:0 !important; margin-top:10px !important;}

#dfinalizarpag img {position:inherit !important; display:table; margin:0 auto; height:200px}

#dfinalizarpag {text-align:center; }

#dfinalizarpag h2 {color:#5a5a5a}

#dfinalizarpag h3 {color:#2b8a44}

#dfinalizarpag h5 {font-size:16px}

.wkcontact .denvia {clear:both; float:left; margin-top:10px}


.wkstatus img {position: initial !important;margin-top:10px !important; margin:0 auto !important}

.wkstatus {text-align: center !important;}

#dfinalizarpag p {font-size:18px; font-weight:400;}

.wkcontact .dstatus {font-weight:400;}

.wkCaptcha {margin-bottom:10px;}


.isEmptyErr {color:#cc0000;margin-top:2px;font-size:13px;}

.isWkFormEmpty, .isWkFormEmptyError, .isWkFormEmptySucess {text-align:center;margin:20px 0;display:block;border-radius:4px;padding:6px;color:#fff;font-size: 14px;}

.isWkFormEmptySucess {background:#5cb85c;}

.isWkFormEmptyError, .isWkFormEmpty {background: #cc0000;}

.isEmpty.invalid {border-color:#cc0000 !important}