.ap-status {
  padding: 3px 10px;
  border-radius: 4px;
  display: block;
  text-align: center;
}

.ap-aguarde {
  background: #4169E1;
  color: #fff;
}

.ap-success {
  background: #1ab71a;
  color:#fff;
}

.ap-error {
    background-color: #DC143C;
    color: white;
}
.ap-dev {
      background-color: #ec2e15;
    color: white;
}
.ap-ini {
  background-color: #FF8C00;
    color: #fff;
}

.criList {
  width: 1000%
}
.criList tr {

}
.criList thead th {
  background:#666;
  color:#fff;
  border-color:#666666 !important

}
.criList td, .criList thead th {
  padding: 8px;
  border: 1px solid #aaa;
  text-align: center;
  font-size: 12px;
} 
.criList {
  font-weight: 400 !important;
}

.mForm .chzn-container .chzn-results li.iCri:before {
  content:"\f054";
  font-family:"FontAwesome";
  color:#9433a7;
  margin-right:5px;
  font-size: 12px;
  margin-left:10px
}
.mForm .chzn-container .chzn-results li:hover, .mForm .chzn-container .chzn-results li:hover.iCri:before, .mForm .result-selected {
  background:#9433a7;
  color:#fff !important
}
.mForm .chzn-container .chzn-results li.iStrong {
  font-weight:600;
  color:#9433a7;
  font-size:15px
}

.mForm .chzn-container, .mForm .chzn-drop {
  width: 380px !important;
}

.mForm .chzn-container-active.chzn-with-drop .chzn-single, .mForm .chzn-container-single .chzn-single {
  background:none;
  line-height: 30px;
  height:auto;
  font-size:14px;
  font-weight: 300;
  color:#9433a7;
  border-color:#bf7dccf0;
}

.mForm .chzn-container-single .chzn-single div b {
  display:none !important
}

.mForm .chzn-container-single .chzn-single div:before {
  content:"\f107";
  font-family:"FontAwesome";
  font-size: 18px;
  margin-right:8px;
  float:right;
  font-weight: 600
}

.criList .criN {
  font-weight: 600;
  color:#6F277E;

}
.criList .sm0 .sm {
  background-color:#3BB76F;
  border-color:#66e299;
  color: #fff;
}
.criList .sm1 .sm {
     background-color: #9c27b0;
    border-color: #e37af5;
    color:#fff;
}
.criList .sm2 .sm {
  background-color: #673ab7;
    border-color: #996ee6;
  color:#fff;
}
.criList .sm3 .sm {
  background-color: #009688;
  border-color: #34b7ab;
  color:#fff;
}
.criList .sm4 .sm  {
  background-color:#0099FF;
  color:#fff;
}
.criList .sm1  {
  color:#6F277E;
}
.piHe {

float:left;

width: 100%;
margin-bottom: 20px;

overflow:hidden;
}
.piHe span {
     display: block;
     float: left;
     height: 20px;
     background: #9434a7;
     text-align: center;
     padding: 4px 8px 0 20px;
     position: relative;
     margin: 0 4px 0 0;
     font-size: 12px;
     text-decoration: none;
     color: #fff;
}
.piHe span:first-child:before, .piHe span:last-child:after
{
  display:none;
}
.piHe span:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.piHe span:last-child {
  background:transparent;
  color: #9434a7;
  font-weight: 600;
}
.piHe span:after {
     content: "";
     border-top: 12px solid transparent;
     border-bottom: 12px solid transparent;
     border-left: 12px solid #9434a7;
     position: absolute;
     right: -12px;
     top: 0;
     z-index: 1;
}

.piHe span:before {
  content: "";
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
}

.piDanger {
  padding: 20px;
  color:#dc3c3c;
}
.piDanger:before {
  content:"\f11a";
  font-family:"FontAwesome";
  float:left;
  margin-right: 10px;
  font-size: 30px;
}

.piT {
  margin: 0 auto;
  display:table; 
  margin-top: 10px;
}

.piT strong {
  color:#9434a7
}

#btnPrint {
  float:right;
  background: #666666;
  cursor:pointer;
  padding: 3px 10px;
  border-radius: 4px;
  color:#fff;
}

#btnPrint:before {
  content:"\f06e";
  font-family:"FontAwesome";
  margin-right: 5px;
}

.piCond thead tr {
  color:red;
  text-align: center;
  width: 100%
}
.piCond table {
  width: 100%
}
.piCond h3 {
  text-align:center;
  font-size: 16px
}

.piCond {
  margin-top: 30px;
}
.piCond td {
  border: 1px solid #aaa;
  padding: 5px;
  text-align:center;
}
.piCond strong {
  font-size: 12px
}