.s7dRedes a {margin-right:5px; text-decoration:none}
.s7dRedes a:last-child {margin-right:0}
.s7dRedes a.sWhats span {font-size:0.7em; padding-left:3px; font-weight:bold;}
.s7dRedes a.sWhats span.sPt {font-style:italic;}