a{color:#294737;}
a:hover{color:#218d59;}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a{color:#FFFFFF !important;}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover{background:#203C2D;}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a{color:#3BB76F;}
#offcanvas-toggler >i{color:#000000;}
#offcanvas-toggler >i:hover{color:#2bb673;}
.btn-primary,
.sppb-btn-primary{border-color:#259d63;background-color:#2bb673;}
.btn-primary:hover,
.sppb-btn-primary:hover{border-color:#1c784c;background-color:#218d59;}
ul.social-icons >li a:hover{color:#2bb673;}
.sp-page-title{background:#2bb673;}
.layout-boxed .body-innerwrapper{background:#ffffff;}
.sp-module ul >li >a{color:#000000;}
.sp-module ul >li >a:hover{color:#2bb673;}
.sp-module .latestnews >div >a{color:#000000;}
.sp-module .latestnews >div >a:hover{color:#2bb673;}
.sp-module .tagscloud .tag-name:hover{background:#2bb673;}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover{background:#2bb673;}
.search .btn-toolbar button{background:#2bb673;}
.post-format{background:#294737;}
.voting-symbol span.star.active:before{color:#2bb673;}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before{color:#218d59;}
.entry-link,
.entry-quote{background:#2bb673;}
blockquote{border-color:#2bb673;}
.carousel-left:hover,
.carousel-right:hover{background:#2bb673;}
#sp-footer-1{position:relative;}
#sp-footer-1:before{content:"";background-image:url(../../images/grama_rod.png);position:absolute;left:0px;max-width:551px;width:100%;height:90px;bottom:-10px;}
#sp-footer-1:after{content:"";background-image:url(../../images/grama_rod.png);bottom:-10px;position:absolute;right:0px;margin-top:101px;max-width:551px;width:100%;height:90px;}
#sp-footer-2{background:#264836;}
.sp-comingsoon body{background-color:#2bb673;}
.pagination>li>a,
.pagination>li>span{color:#000000;}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus{color:#000000;}
.pagination>.active>a,
.pagination>.active>span{border-color:#2bb673;background-color:#2bb673;}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus{border-color:#2bb673;background-color:#2bb673;}
.sp-megamenu-parent > li:nth-child(1) a{color:#3BB76F;}
.sp-megamenu-parent > li:nth-child(2) a{color:#6F277E;}
.sp-megamenu-parent > li:nth-child(3) a{color:#DEC921;}
.sp-megamenu-parent > li:nth-child(4) a{color:#D20E1C;}
.sp-megamenu-parent > li:nth-child(5) a{color:#0099FF;}
.sp-megamenu-parent > li:nth-child(6) a{color:#3BB76F;}
.sp-megamenu-parent > li:nth-child(1):hover, .sp-megamenu-parent > li.active:nth-child(1){background-color:#3BB76F;border-radius:8px;}
.sp-megamenu-parent > li:nth-child(2):hover, .sp-megamenu-parent > li.active:nth-child(2){background-color:#6F277E;border-radius:8px;}
.sp-megamenu-parent > li:nth-child(3):hover, .sp-megamenu-parent > li.active:nth-child(3){background-color:#DEC921;border-radius:8px;}
.sp-megamenu-parent > li:nth-child(4):hover, .sp-megamenu-parent > li.active:nth-child(4){background-color:#D20E1C;border-radius:8px;}
.sp-megamenu-parent > li:nth-child(5):hover, .sp-megamenu-parent > li.active:nth-child(5){background-color:#0099FF;border-radius:8px;}
.sp-megamenu-parent > li:nth-child(6):hover, .sp-megamenu-parent > li.active:nth-child(6){background-color:#3BB76F;border-radius:8px;}
.sp-megamenu-parent > li .sp-dropdown .sp-dropdown-inner{border-bottom:4px solid #D20E1C;}
.fb-text-label_niver{background-color:#3D9858;padding:6px;color:#FFF;border-radius:5px;}
.fb-text-label_niver:before{content:"\f1bb";font-family:"FontAwesome";padding-right:5px;}
.dep_aniversarios_eventos .sppb-carousel-inner > .sppb-item{padding-top:20px !important;padding-top:30px !important;}
.dep_aniversarios_eventos .sppb-carousel-indicators .active{background-color:#A611C6 !important;}
.dep_aniversarios_eventos .sppb-carousel-indicators li{background-color:#6F277E !important;}
.dep_aniversarios_eventos .sppb-carousel-arrow{color:#6F277E !important;}
.wk-submit button{padding:20px;}
.wk-submit button{margin:0 auto !important;display:table;width:100%;max-width:200px;float:inherit !important;}
#botao{background:#2C4A3A;color:#fff;font-weight:bold;text-transform:uppercase;font-size:20px;}
.g-recaptcha{margin:0 auto !important;display:table;float:initial !important;}
.fa-thumb-tack::before{content:"\f1bb" !important;}
.blogpg_blog-galeria .entry-image.intro-image img{border-radius:8px;border-left:5px solid #DEC921;}
.blogpg_blog-galeria .entry-image.intro-image{border-radius:5px;height:320px;width:100%;max-width:580px;overflow:hidden !important;}
.blogpg_blog-galeria .entry-header{padding-top:2px;}
.blogpg_blog-galeria .btn.btn-default{border:1px solid #294737;}
.blogpg_blog-galeria .entry-header h2 a{color:#294737;}
.sp-page-title h2:before{content:"\f1bb";font-family:"FontAwesome";padding-right:5px;}
.titdep_home{background:#EF971F;border-radius:50%;max-width:600px;padding-top:30px;padding-bottom:5px;margin:-110px auto;}
.s7dRedes a{background:#FFF;color:#264836 !important;border-radius:50%;padding-top:6px;padding-bottom:8px;padding-left:17px;padding-right:17px;font-size:36px;}
.depoimentos_home .wk-news-content{background-color:#FFFFFF;font-size:12px;margin-top:-20px !important;padding-top:22px;padding-left:8px;padding-right:8px;text-align:justify;line-height:16px;height:200px;}
.depoimentos_home .wk-news-title{text-align:center;border-bottom:1px solid;text-transform:uppercase;padding-bottom:3px;margin-bottom:12px;margin-left:15px;margin-right:15px;}
.depoimentos_home .wk-news-img{margin:0px auto;z-index:1000;}
.depoimentos_home .owl-nav{top:160.5px !important;}
.s7dRedes{text-align:center;}
.rod2_info .sppb-col-md-4{border-right:2px solid #305A44;}
.rod2_info .sppb-col-md-4:last-child{border:none;}
.rod2_tels{}
.rod2_tels p:before{content:"\f10b";font-family:"FontAwesome";padding-right:5px;}
.pg_geralStore h2{color: white;font-size: 40px;padding: 10px 0;}
.pg_geralStore .sp-page-title{background-size: cover;background-attachment: fixed;background-position: center center;}
.pg_geralStore .sp-page-title h2:before{content: "";}
.stores_Cat .flip-box-inner a {background: #FFF;border-radius: 5px;padding: 12px;}
.pg_termosContratacao .post-format{ display: none; }
.pg_manuais .post-format{ display: none; }
.pg_tardeAve .post-format{ display: none; }
.info_fami div#aw-captcha{ margin: 0 auto;float: none !important;}
/*--- Loja ---*/
div.info_transfA{color: #D9534F;margin-bottom: 20px;}
div.info_transfA strong{ color: #D9534F !important;}
div.info_transfB{ color: #337AB7; }
div.info_transfB strong{ color: #337AB7 !important;}
/*--- */
#hr_atividades { margin-bottom: -6px !important; }
#hr_atividades h1{ font-family: 'Baloo Tammudu', cursive; font-size: 38px; text-shadow: 1px 2px 3px #2E4338;}
#hr_atividades .sub-tit{ font-family: 'Baloo Tammudu', cursive; font-size: 40px; text-shadow: 1px 2px 3px #2E4338; color: #FEF5C5; }
#hr_atividades h3{ margin-top: 2px; }
.hr_atividades-saiba a { background-color: #FFFFFF; border-radius: 10px; padding: 8px; }
#hr_atividades .sppb-col-md-3 { padding: 5px; }
#hr_atividades .threeD-content-inner{ padding: 10px; }
/* Tirar linha de informação de desconto*/ .storeItems{ display: none; }
@media screen and (max-width:1600px){#sp-footer-1:after, #sp-footer-1:before{background-size:360px !important;height:60px;background-repeat:no-repeat;width:360px;}
@media screen and (max-width:997px){#sp-footer-1:after, #sp-footer-1:before{background-size:200px !important;height:40px;background-repeat:no-repeat;width:200px;}
}
@media screen and (max-width:767px){.wk-news .wk-news-img img{width:30% !important;margin:0px auto;}
}